/* declaring css variables */

:root {
  --credet-green: #25d366;
  --credet-grey: #5c5e62;
  --credet-light-grey: #f5f7f9;
  --credet-black: #020202;
  --credet-white: #ffffff;
}

/* changing all placeholder color */
::-webkit-input-placeholder {
  color: var(--credet-grey);
}
.App {
  display: flex;
  align-self: center;
  height: 100%;
  margin: auto;
  width: 350px;
  overflow: hidden;
  /* background-color: var(--credet-white); */
  background-color: red;
  padding-inline: 30px;
}
.step {
  color: blue;
}
.title {
  font-size: 20px;
  font-family: "polysans-medium";
 
}
.custom-input {
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  background-color: var(--credet-light-grey);
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-family: "polysans-regular";
  padding-left: 20px;
}
