/* declaring css variables */

:root {
  --credet-green: #25d366;
  --credet-grey: #5c5e62;
  --credet-light-grey: #f5f7f9;
  --credet-black: #020202;
  --credet-white: #ffffff;
}

/* changing all placeholder color */
::-webkit-input-placeholder {
  color: var(--credet-grey);
  font-size: 13px;
  align-self: center;
}

.custom-input:focus {
  outline: none !important;
  border: 2px solid var(--credet-green);
}

.App {
  display: flex;
  align-self: center;
  height: 100%;
  margin: auto;
  width: 300px;
  overflow: hidden;
  padding-inline: 30px;
  /* background-color: red; */
}
.step {
  color: var(--credet-grey);
  font-size: 15px;
}
.title {
  font-size: 28px;
  font-family: "polysans-medium";
  margin-block: 15px;
}
.custom-input {
  box-sizing: border-box;
  width: 300px;
  /* max-width: max-content; */
  height: 43px;
  background-color: var(--credet-light-grey);
  border: none;
  border-radius: 5px;
  font-family: "polysans-regular";
  padding-left: 20px;
  border-color: red;
}
.dropdown-input {
  height: 43px;
  background-color: var(--credet-light-grey);
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-family: "polysans-regular";
  padding-inline: 15px;
  border-right: 15px solid transparent;
  outline: none;
  margin-bottom: 30px;
  margin-top: 5px;
}
#country-code {
  font-family: "polysans-regular";
  font-size: 28px;
  margin-right: 5px;
 margin-top: 30px;
}
.button {
  height: 42px;
  width: 100%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--credet-white);
  background-color: var(--credet-green);
  font-family: "polysans-regular";
}
.terms {
  font-size: 13px;
  font-family: "polysans-regular";
  color: var(--credet-grey);
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 250px;

}
.terms > u {
  color: var(--credet-black);
}

.label {
  font-family: "polysans-regular";
  font-size: 16px;
  color: var(--credet-grey);
  margin-bottom: 10px;
  margin-top: 20px;
}

#resend-code{
  font-family: "polysans-regular";
  font-size: 16px;

}