body {
  margin: 0;
}

@font-face {
  font-family: "polysans-regular";
  src: local("polysans-regular"),
    url(./assets/fonts/Polysans-Regular.ttf) format("woff");
}
@font-face {
  font-family: "polysans-medium";
  src: local("polysans-medium"),
    url(./assets/fonts/Polysans-Medium.ttf) format("woff");
}
@font-face {
  font-family: "polysans-bold";
  src: local("polysans-bold"),
    url(./assets/fonts/Polysans-Bold.ttf) format("woff");
}

